@import "../../vars.css";
.container{
    position: relative
;
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 49px;
z-index: 1;
margin-left: 10%;
margin-right: 10%;

}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:var(--color-text);
    z-index: 1;


}
.title{
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background:linear-gradient(180deg,rgb(206, 157, 238),90%,rgba(73, 37, 37, 0)120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* background-color: transparent; */
    opacity: 0;
      transform: translateY(30px);
  animation: titleReveal 7s ease-out forwards;

}
@keyframes titleReveal {
  to {
    opacity: 3;
    transform: translateY(0);
  }
}
.description{
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}
.contactBtn{
    text-decoration: none;
    background-color: rgba(50, 141, 141, 0.555);
    /* color:var(--color-text);
     */
     color: azure;
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(231, 84, 153, 0.555);
}
.heroImg{
    width: 50%;
    z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
@keyframes floating{
    0%{
        transform: translate(0,0px);
    }
    50%{
        transform: translate(0,30px);
    }
    100%{
        transform: translate(0,-0px);
    }
}
.topBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    top: -128px;
    left:10vw;
    border-radius: 764px;
    background: rgba(25,55,109,0.7);
    filter: blur(100px);
    z-index: 0;

}
.bottomBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 250px;
    top: 248px;
    right:-25vw;
    border-radius: 764px;
    background: rgba(25,55,109,0.7);
    filter: blur(100px);
    z-index: 0;
    
}

@media screen and (max-width:830px) {
    .container{
        flex-direction: column-reverse;

    }
    .content{
        align-items: center;
    }
}