.container {
  /* margin-top: 96px; */
  margin-top: 60px;
  
  color: var(--color-text);
  margin-left: auto;
  margin-right: auto;
  /* max-width: 1200px; */
  padding: 32px;
  /* background-color: brown; */
  /* display: grid;
  grid-template-columns: repeat(1,2fr);
  gap: 32px;
  align-items: start; */
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 85px;
  width: 100%;
}